export default {

    aws: {
        region: "ap-northeast-1",
        accessKeyId: "",
        secretAccessKey: ""
    },

    gcp: {
        projectId:    "",

        bigQuery: {
            datasetId: "",
            tableId:   ""
        }
    }

};
